
<div class="grid_5">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        {% if category %}
        <li><a  {% if ControllerName == 'posts'%}class="active" href="javascript:void(0);" {% else %} href="/{{ModuleName}}/{{ControllerName}}/{{ActionName}}?cid={{getData['cid']}}" {% endif %}>{{category['name']}}</a></li>
        {% endif %}
        {% if ControllerName == 'details'%}
        <li class="active"><a href="javascript:void(0);">{{data['name']}}</a></li>
        {% endif %}
    </ol>
</div>