
<header class="site-header">
    <div class="kaay-wrap">
        <button class="close-this-page" style="display: none;"></button>
        <a href="/" class="kaay-logo"><img src="{{system['logo']}}" /></a>
        <nav class="kaay-nav">
            <ul class="kaay-ul">
                {% if links %}
                    {% for link in links %}
                        <li>
                            <a target="_blank" href="{{link['siteurl']}}">
                                <span class="{{link['logo']}}"></span>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>

    <button class="menu-toggle am-icon-bars" id="genesis-mobile-nav-primary"></button>
        <nav class="nav-primary genesis-responsive-menu" aria-label="Main" id="genesis-nav-primary">
            <div class="wrap">
                <ul id="menu-main-menu" class="menu genesis-nav-menu menu-primary" style="touch-action: auto;">
                    {% if navigation %}
                        {% for nav in navigation %}
                            <li class="menu-item"><a href="{{nav['url']}}"><span itemprop="name">{{nav['name']}}.</span></a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

</header>
