<div class="site-container">
    {{partial("layouts/header")}}
</div>

<div class="site-inner">

    <div id="work-dir" class="content-sidebar-wrap">


{% if data %}
        {% for posts in data %}

        <div class="project-item {{posts['class']}} {% if loop.first %}firstWork{% endif %} {% if loop.last %}lastWork{% endif %}" data-id="{{posts['id']}}" data-key="{{key}}" ratio="{{posts['ratio']}}">
            <a href="{{posts['thumb']}}">
                <div class="project-item-img" data-id="{{posts['id']}}" >
                    <img id="img{{project['id']}}" src="{{posts['thumb']}}" >
                </div>
                    <div class="work-title" >{{posts['name']}}</div>
                    <div class="work-description"></div>
                    <div class="work-author">{{posts['digest']}}</div>
            </a>
        </div>


        {% endfor %}
{% else %}
    <h4 class="text-center">暂无数据</h4>
{% endif %}

    <div class="modal-wrapper">
        <div class="modal-inner"></div>
        <div class="modal-nav prev">&nbsp;</div>
        <div class="modal-nav next">&nbsp;</div>
    </div>
    <main class="content" id="genesis-content">
        <div class="archive-description cpt-archive-description">
            <h1 class="archive-title">{{category['name']}}</h1>
        </div>
    </main>

    </div>
</div>

{{ javascript_include("templates/white/js/images.js") }}
{{ javascript_include("templates/white/js/jquery.masonry.min.js") }}
{{ javascript_include("templates/white/js/imagesloaded.min.js") }}
<script>
    $(function () {
        $("#work-dir").masonry({
            itemSelector : ".project-item",
            isAnimated : false,
            columnWidth: 20
        });
        var imgsL = new imagesLoaded($("#work-dir"));
        imgsL.on("progress", function(){
            $("#work-dir").masonry();
        });
    })
</script>
