{{ javascript_include("templates/boot/js/form/posts-add-edit.js") }}

{{ stylesheet_link("plugins/upload/css/webuploader.css") }}
{{ javascript_include("plugins/upload/dist/webuploader.js") }}
{{ stylesheet_link("plugins/upload/css/multi-file-upload.css") }}
{{ javascript_include("plugins/upload/multi-file-upload.js") }}

{{ stylesheet_link("templates/boot/css/bootstrapValidator.min.css") }}
{{ javascript_include("templates/boot/js/jquery.validate.min.js") }}
{{ javascript_include("templates/boot/js/form/form-system.js") }}
{{ javascript_include("templates/boot/js/messages_zh.js") }}

 <script>
    $(function(){
        FormSystemValidation.init();
    });
</script>

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-body">

                <form class="form-horizontal" method="POST" action="#" id="form-system" novalidate>
                    <fieldset>
                        <div class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证失败，请检查.
                        </div>
                        <div class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证成功！
                        </div>

                        <div class="control-group">
                            <label for="web_name" class="control-label">网站名称</label>
                            <div class="controls">
                                <input type="text" placeholder="网站名称" class="m-wrap span5" name="web_name" value="{{data.web_name}}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="web_url" class="control-label">网站域名</label>
                            <div class="controls">
                                <input type="text" placeholder="网站域名" class="m-wrap span5" name="web_url" value="{{data.web_url}}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="seo_keywords" class="control-label">关键字</label>
                            <div class="controls">
                                <input type="text" placeholder="关键字" class="m-wrap span5" name="seo_keywords" value="{{data.seo_keywords}}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="description" class="control-label">描述</label>
                            <div class="controls">
                                <input type="text" placeholder="描述" class="m-wrap span5" name="description" value="{{data.description}}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="copyright" class="control-label">版权</label>
                            <div class="controls">
                                <input type="text" placeholder="版权" class="m-wrap span5" name="copyright" value="{{data.copyright}}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="phone" class="control-label">联系电话</label>
                            <div class="controls">
                                <input type="text" placeholder="联系电话" class="m-wrap span5" name="phone" value="{{data.phone}}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="email" class="control-label">管理员邮箱</label>
                            <div class="controls">
                                <input type="text" placeholder="管理员邮箱" class="m-wrap span5" name="email" value="{{data.email}}">
                            </div>
                        </div>


                        <div class="control-group">
                            <label for="icp" class="control-label">ICP备案号</label>
                            <div class="controls">
                                <input type="text" placeholder="ICP备案号" class="m-wrap span5" name="icp" value="{{data.icp}}">
                            </div>
                        </div>


                        <div class="control-group">
                            <label for="analytics" class="control-label">统计代码</label>
                            <div class="controls">
                                <input type="text" placeholder="统计代码" class="m-wrap span5" name="analytics" value="{{data.analytics}}">
                            </div>
                        </div>


                        <div class="control-group">
                            <label for="logo" class="control-label">LOGO图片</label>
                            <!-- File Upload -->
                            <div class="controls">
                                <div id="wrapper" style="width: 45%;">
                                    <div id="container">
                                        <!--头部，相册选择和格式选择-->
                                        <div id="uploader">
                                            <div class="queueList">
                                                <ul class='filelist' style='border-bottom: 1px solid #ccc; margin-bottom: 5px;'>
                                                    <li class="state-complete">
                                                        <p class="imgWrap"><img src="{{data.logo}}"></p>
                                                        <span class="success"></span>
                                                        <p class="progress"><span style="display: none; width: 0px;"></span></p>
                                                        <div class="file-panel" style="height: 0px;">
                                                            <span class="cancel" data-rel="{{data.logo}}" title="删除">删除</span>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <div id="dndArea">
                                                    <div id="files-uploads"></div>
                                                </div>
                                            </div>
                                            <div class="statusBar" style="display:block;">
                                                <div class="progress">
                                                    <span class="text">0%</span>
                                                    <span class="percentage"></span>
                                                </div>
                                                <div class="info"></div>
                                                <div class="btns">
                                                    <div id="files-uploads-continue"></div><div class="uploadBtn">开始上传</div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="multi-thumb" name="logo" value="{{data.logo}}">
                                    </div>
                                </div>
                                <span style="color: #b94a48;" >附件格式【jpg,jpeg,png,gif】</span>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn green" type="submit"><i class="icon-ok"></i> 保存</button>
                            <button class="btn" type="button" onclick="javascript:window.location.href='/{{ModuleName}}'">取消</button>
                            <input type="hidden" id="actions" value="edit" >
                            <input type="hidden" name="code" value="{{data.code}}" >
                            <span for="digits" class="message alert-error"></span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
