<!-- 列表操作 -->
    {{javascript_include("templates/boot/js/operation.js")}}


<div class="row-fluid">
<div class="span12">
<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box light-grey">
<div class="portlet-body">


        <div class="clearfix">
            <div class="btn-group">
                <button id="edit" class="btn green">编辑 <i class="icon-edit"></i></button>
                <input type="hidden" name="page" value="1">
            </div>
        </div>

        {{ partial("logo/data") }}
</div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>



