{{ javascript_include("plugins/upload/edit.js") }}

{{ stylesheet_link("plugins/upload/css/webuploader.css") }}
{{ javascript_include("plugins/upload/dist/webuploader.js") }}
{{ stylesheet_link("plugins/upload/css/multi-file-upload.css") }}
{{ javascript_include("plugins/upload/file-upload.js") }}

{{ stylesheet_link("templates/boot/css/bootstrapValidator.min.css") }}
{{ javascript_include("templates/boot/js/jquery.validate.min.js") }}
{{ javascript_include("templates/boot/js/form/form-posts.js") }}
{{ javascript_include("templates/boot/js/messages_zh.js") }}
{{ javascript_include("templates/boot/js/cancel.js") }}

{% if type != 'images' %}
    {{ partial("posts/uploads") }}
{% endif %}

<script>
    $(function() {
        FormPostsValidation.init();
    });
</script>
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-body">
                <form class="form-horizontal" method="POST" action="#" id="form-posts" novalidate>
                    <fieldset>

                        <div class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证失败，请检查.
                        </div>
                        <div class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证成功！
                        </div>

                        {% if Category %}
                        <div class="control-group">
                            <label for="cid" class="control-label">栏目</label>
                            <div class="controls">
                                {% for category in Category %}
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="{{category.id}}|{{category.type}}" name="cid"{% if data.cid==category.id%} checked="checked"{% endif %}></span></div>
                                    {{category.name}}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="control-group">
                            <label for="name" class="control-label">文章标题</label>
                            <div class="controls">
                                <input type="text" placeholder="文章标题" class="m-wrap span5" name="name" value="{{data.name}}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="en_name" class="control-label">英文标题</label>
                            <div class="controls">
                                <input type="text" placeholder="英文标题" class="m-wrap span5" name="en_name" value="{{data.en_name}}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="keyword" class="control-label">关键字</label>
                            <div class="controls">
                                <input type="text" placeholder="关键字" class="m-wrap span5" name="keyword" value="{{data.keyword}}">
                                <span style="color: #b94a48;" >多个以英文逗号【,】隔开</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Textarea -->
                            <label for="digest" class="control-label">摘要</label>
                            <div class="controls">
                                <div class="text">
                                    <textarea class="span5 m-wrap" rows="3" name="digest">{{data.digest}}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Textarea -->
                            <label for="en_digest" class="control-label">英文摘要</label>
                            <div class="controls">
                                <div class="text">
                                    <textarea class="span5 m-wrap" rows="3" name="en_digest">{{data.en_digest}}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="attachment" class="control-label">缩略图</label>
                            <!-- File Upload -->
                            <div class="controls">
                                <div id="wrapper" style="width: 595px;">
                                   <div id="container">
                                       <!--头部，相册选择和格式选择-->
                                       <div id="uploader">
                                           <div class="queueList">

                                               {% if data.thumb %}
                                               <ul class='filelist' style='border-bottom: 1px solid #ccc; margin-bottom: 5px;'>
                                                   <li class="state-complete">
                                                       <p class="imgWrap"><img src="{{data.thumb}}"></p>
                                                       <p class="progress"><span style="display: none; width: 0px;"></span></p>
                                                       <span class="success"></span>
                                                       <div class="file-panel" style="height: 0px;">
                                                           <span class="cancel" data-rel="{{data.attachment}}" title="删除" data-type="images">删除</span>
                                                       </div>
                                                   </li>
                                               </ul>
                                               {% endif %}

                                               <div id="dndArea">
                                                   <div id="files-uploads"></div>
                                                   <p>上传图片第一张作为产品缩略图</p>
                                               </div>
                                           </div>
                                           <div class="statusBar" style="display:block;">
                                               <div class="progress">
                                                   <span class="text">0%</span>
                                                   <span class="percentage"></span>
                                               </div>
                                               <div class="info"></div>
                                               <div class="btns">
                                                   <div id="files-uploads-continue"></div><div class="uploadBtn">开始上传</div>
                                               </div>
                                           </div>
                                       </div>
                                       <input type="hidden" id="thumb" name="thumb" value="{{data.thumb}}">
                                   </div>
                                </div>
                                <span style="color: #b94a48;" >附件格式【jpg,jpeg,png,gif,flv】</span>
                            </div>
                        </div>


                        {% if type != 'images' %}
                        <div class="control-group">
                            <label for="text" class="control-label">文章内容</label>
                            <div class="controls">
                                <div class="span7 m-wrap" style="height: 300px;" id="editor"></div>
                            </div>
                        </div>
                        <div class="control-group" style="padding-top: 20px;">
                            <label for="en_text" class="control-label">英文内容</label>
                            <div class="controls">
                                <div class="span7 m-wrap" style="height: 300px;" id="eneditor"></div>
                            </div>
                        </div>
                        {% else %}
                        <div class="control-group">
                            <label for="class" class="control-label">图片排版</label>
                            <div class="controls">
                                <label class="radio type" data-val="default">
                                    <div class="radio"><span class=""><input type="radio" value="default" name="class" {% if data.class=='default'%} checked="checked"{% endif %}></span></div>
                                    默认(600*330)
                                </label>
                                <label class="radio type" data-val="wide">
                                    <div class="radio"><span class=""><input type="radio" value="wide" name="class"{% if data.class=='wide'%} checked="checked"{% endif %}></span></div>
                                    水平(1250*auto)
                                </label>
                                <label class="radio type" data-val="portrait">
                                    <div class="radio"><span class=""><input type="radio" value="portrait" name="class"{% if data.class=='portrait'%} checked="checked"{% endif %}></span></div>
                                    垂直(600*710)
                                </label>
                            </div>
                        </div>
                        {% endif %}

                        <div class="control-group">
                            <label for="status" class="control-label">状态</label>
                            <div class="controls">
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="0" name="status"{% if data.status==0%} checked="checked"{% endif %}></span></div>
                                    禁用
                                </label>
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="1" name="status"{% if data.status==1%} checked="checked"{% endif %}></span></div>
                                    启用
                                </label>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn green" type="submit"><i class="am-icon-check"></i> 保存</button>
                            <button class="btn" type="button" onclick="mycancel()">取消</button>
                            <input type="hidden" id="actions" value="edit" >
                            <input type="hidden" name="code" value="{{data.code}}" >
                            <input type="hidden" name="id" value="{{data.id}}" >
                            <input type="hidden" name="ctype" value="{{ctype}}">
                            <input type="hidden" name="page" value="{{page}}">
                            <input type="hidden" name="text" value='{{data.text}}'>
                            <input type="hidden" name="en_text" value='{{data.en_text}}'>
                            <span for="digits" class="message alert-error"></span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>