{{ stylesheet_link("templates/boot/css/bootstrapValidator.min.css") }}
{{ javascript_include("templates/boot/js/jquery.validate.min.js") }}
{{ javascript_include("templates/boot/js/form/form-links.js") }}
{{ javascript_include("templates/boot/js/messages_zh.js") }}

 <script>
    $(function(){
        FormLinksValidation.init();
    });
</script>

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-body">

                <form class="form-horizontal" method="POST" action="#" id="form-links" novalidate>
                    <fieldset>
                        <div class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证失败，请检查.
                        </div>
                        <div class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证成功！
                        </div>

                        <div class="control-group">
                            <label for="language" class="control-label">栏目版型</label>
                            <div class="controls">
                                <label class="radio type" data-val="2">
                                    <div class="radio"><span class=""><input type="radio" value="en" name="language"{% if  data.language=='en'%} checked{% endif %}></span></div>
                                    英文版
                                </label>
                                <label class="radio type" data-val="1">
                                    <div class="radio"><span class="">
                                        <input type="radio" value="zh" name="language"{% if data.language=='zh' %} checked{% endif %}></span></div>
                                    中文版
                                </label>
                            </div>
                        </div>


                        <div class="control-group">
                            <label for="type" class="control-label">网站类型</label>
                            <div class="controls" >
                                {% for key,name in tagConfig['linksType'] %}
                                    <label class="radio">
                                        <div class="radio"><span class=""><input type="radio" value="{{key}}" name="type" {% if key==data.type%} checked{% endif %}></span></div>
                                        {{name}}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label" for="name">网站名称</label>
                            <div class="controls">
                                <input class="input-xlarge span5 m-wrap" placeholder="网站名称" name="name" type="text" value="{{data.name}}" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label" for="siteurl">网站链接</label>
                            <div class="controls">
                                <input class="input-xlarge span5 m-wrap" placeholder="网站链接" name="siteurl" type="text" value="{{data.siteurl}}" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label" for="listorder">网站排序</label>
                            <div class="controls">
                                <input class="input-xlarge span5 m-wrap" placeholder="网站排序(从大到小),默认0" name="listorder" value="{{data.listorder}}" type="text">
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Textarea -->
                            <label for="siteinfo" class="control-label">网站描述</label>
                            <div class="controls">
                                <div class="text">
                                    <textarea class="span5 m-wrap" rows="3" name="siteinfo"> {{data.siteinfo}} </textarea>
                                </div>
                            </div>
                        </div>


                        <div class="control-group">
                            <label for="logo" class="control-label">Icons</label>
                            <div class="controls">
                                {% for k,icons in tagConfig['Icons'] %}
                                <label class="radio">
                                    <div class="radio">
                                        <span class="">
                                            <input type="radio" value="{{icons}}" name="logo" {% if icons==data.logo%}checked{% endif %}>

                                        </span>
                                    </div>
                                    <span class="{{icons}} am-icon-md"></span>
                                </label>
                                {% if k is true and k%6 ==0 %}<br />{% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="status" class="control-label">状态</label>
                            <div class="controls">
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="0" name="status" {% if data.status==0%} checked{% endif %}></span></div>
                                    禁用
                                </label>
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="1" name="status" {% if data.status==1%} checked{% endif %}></span></div>
                                    启用
                                </label>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn green" type="submit"><i class="am-icon-check"></i> 保存</button>
                            <button class="btn" type="button" onclick="window.location.href=BASE_URL+'list';">取消</button>
                            <input type="hidden" id="actions" value="edit" >
                            <input type="hidden" name="code" value="{{data.code}}" >
                            <span for="digits" class="message alert-error"></span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
