
<!-- 表单验证 -->
{{ stylesheet_link("templates/boot/css/bootstrapValidator.min.css") }}
{{ javascript_include("templates/boot/js/jquery.validate.min.js") }}
{{ javascript_include("templates/boot/js/messages_zh.js") }}
 {{ javascript_include("templates/boot/js/form/form-admins.js") }}
        <script>
            $(function(){
                FormAdminsValidation.init();
            });
        </script>

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-body">

                <form class="form-horizontal" method="POST" action="#" id="form-admins" novalidate>
                    <fieldset>
                        <div class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证失败，请检查.
                        </div>
                        <div class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证成功！
                        </div>

                        <div class="control-group">
                            <label for="username" class="control-label"><span class="required">*</span>管理员帐号</label>
                            <div class="controls">
                                <input class="input-xlarge span6 m-wrap" name="username" type="text" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="password" class="control-label"><span class="required">*</span>密码</label>
                            <div class="controls">
                                <input class="input-xlarge span6 m-wrap" name="password" type="text" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="repassword" class="control-label"><span class="required">*</span>确认密码</label>
                            <div class="controls">
                                <input class="input-xlarge span6 m-wrap" name="repassword" type="text" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="name" class="control-label"><span class="required">*</span>真实姓名</label>
                            <div class="controls">
                                <input class="input-xlarge span6 m-wrap" name="name" type="text" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="qq" class="control-label">QQ</label>
                            <div class="controls">
                                <input class="input-xlarge span6 m-wrap" name="qq" type="text">
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="email" class="control-label"><span class="required">*</span>邮箱</label>
                            <div class="controls">
                                <input class="input-xlarge span6 m-wrap" name="email" type="text" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="status" class="control-label">状态</label>
                            <div class="controls">
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="0" name="status" checked="checked"></span></div>
                                    启用
                                </label>
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="1" name="status"></span></div>
                                    停用
                                </label>
                            </div>
                        </div>


                        <div class="form-actions">
                            <button class="btn green" type="submit"><i class="am-icon-check"></i>保存</button>
                            <button class="btn" type="button" onclick="window.location.href=BASE_URL+'list';">取消</button>
                            <input type="hidden" id="actions" value="add" >
                            <span for="digits" class="message alert-error"></span>
                        </div>


                    </fieldset>
                </form>


            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>