<table id="datatables" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th></th>
        <th>管理员ID</th>
        <th>管理员编号</th>
        <th>管理员帐号</th>
        <th>管理员姓名</th>
        <th>管理员邮箱</th>
        <th>管理员状态</th>
    </tr>
    </thead>
    <tbody>
    {% if data['rows'] %}
    {% for admins in data['rows']%}
    <tr>
        <td><input type="checkbox" name="checkbox" data-options='{"code":"{{admins['code']}}"}'></td>
        <td>{{admins['id']}}</td>
        <td>{{admins['code']}}</td>
        <td>{{admins['username']}}</td>
        <td>{{admins['name']}}</td>
        <td>{{admins['email']}}</td>
        <td>{% if admins['status']==0 %}启用{%else%}<span style="color:red;">删除</span>{% endif %}</td>
    </tr>
    {% endfor %}
    {% else %}
        <tr><td colspan="8">暂无数据</td></tr>
    {% endif %}

    </tbody>
</table>
<div class="pagination pagination-right">
    <ul>
        {{pageStr}}
    </ul>
</div>