
<!-- 表单验证 -->
{{ stylesheet_link("templates/boot/css/bootstrapValidator.min.css") }}
{{ javascript_include("templates/boot/js/jquery.validate.min.js") }}
{{ javascript_include("templates/boot/js/messages_zh.js") }}
 {{ javascript_include("templates/boot/js/form/form-admins-reset.js") }}
        <script>
            $(function(){
                FormAdminsResetValidation.init();
            });
        </script>

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-body">

                <form class="form-horizontal" method="POST" action="#" id="form-admins-reset" novalidate>
                    <fieldset>
                        <div class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证失败，请检查.
                        </div>
                        <div class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证成功！
                        </div>

                        <div class="control-group">
                            <label class="control-label">管理员帐号</label>
                            <div class="controls">
                                <input class="input-xlarge span6 m-wrap" value="{{data.username}}" type="text" readonly>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="password" class="control-label"><span class="required">*</span>密码</label>
                            <div class="controls">
                                <input class="input-xlarge span6 m-wrap" name="password" type="text" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="repassword" class="control-label"><span class="required">*</span>确认密码</label>
                            <div class="controls">
                                <input class="input-xlarge span6 m-wrap" name="repassword" type="text" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn green" type="submit"><i class="am-icon-check"></i> 保存</button>
                            <button class="btn" type="button" onclick="window.location.href=BASE_URL+'list';">取消</button>
                            <input type="hidden" id="actions" value="reset" >
                            <input type="hidden" name="code" value="{{data.code}}" >
                            <span for="digits" class="message alert-error"></span>
                        </div>


                    </fieldset>
                </form>


            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>