
<link rel="stylesheet" href="/templates/duo-i/css/index/style.css">

 <div id="loadings"></div>

 <a href="javascript:;" class="indexlink" style="background-image:url('{{data[0]['thumb']}}')"></a>

 {{ partial("layouts/logo") }}

 <div class="navbox">
     {% if navigation %}
        {% for nav in navigation %}
            <a href="{{nav['url']}}">{{nav['name']}}</a>
        {% endfor %}
     {% endif %}
 </div>


 <div id="content">
     <div id="sections" class="container" style="padding-right: 70px;">

         <div id="horizontal" style="display: block;">
             <div class="slyWrap example2">

                 <div class="sly" data-options='{ "horizontal": 1, "itemNav": "forceCentered", "dragContent": 3, "scrollBy": 1, "easing": "easeOutBack" }'>
                     <ul class="big cfix">
                         {% if data %}
                             {% for key,content in data %}
                                 <li data-img="{{content['thumb']}}" data-src="/{{ModuleName}}/posts/details?id={{content['id']}}" class="" >
                                     <a href="/{{ModuleName}}/posts/details?id={{content['id']}}">
                                         {{content['name']}}
                                     </a>
                                 </li>
                            {% endfor %}
                         {% endif %}

                     </ul>
                 </div>
             </div>
         </div><!--end:#horizontal-->

     </div><!--end:#sections-->
 </div><!--end:#content-->


 <input type="hidden" value="{{next}}" id="next">
 <input type="hidden" value="0" id="previous">


 <script src="/templates/duo-i/js/index/jquery-1.js"></script>
<script src="/templates/duo-i/js/index/jquery.js"></script>
 <script src="/templates/duo-i/js/index/plugins.js"></script>
 <script src="/templates/duo-i/js/index/main.js"></script>

<script>
    $(function () {
        if ($(window).width() < 767){
            window.location.href = ModuleName+'/posts/details?id={{next}}';
        }

        //鼠标的移入移出
        $(".big li").mouseover(function () {
            var img = $(this).attr("data-img");
            console.log(img)
            $(".indexlink").css({"background-image": "url(" + img + ")"});
            $(".indexlink").attr('href',$(this).attr("data-src"));

            $(".big li").removeClass('active').removeClass('slid');

            $(this).addClass('active').removeClass('slid');
            $(this).next().addClass('slid').removeClass('active');
            $(this).prev().addClass('slid').removeClass('active');

        }).mouseout(function () {
//            $(this).find("a").css("font-size", 12)
        });

        var liLength = $(".cfix li").length * 50
        $(".cfix").css("width", liLength)
        if (liLength > 9) {
            $(".next").css("display", "block")
        }
        // 加载目录
        var auzo = 0
        $(".next").click(function () {
            $(".pre").css("display","block")
            auzo = auzo-46
            $('.cfix').css("left", auzo);
//            $.ajax({
//                type: "POST",  //提交方式
//                url: "a.php",//路径
//                data: {
//                    "page": "1"
//                },//数据，这里使用的是Json格式进行传输
//                success: function (result) {//返回数据根据结果进行相应的处理
//                    if (result.success) {
//                    } else {
//                    }
//                }
//            });
        })
//        var pre = 0
        $(".pre").click(function () {
            auzo = auzo+46
            $('.cfix').css("left", auzo);
        })
    });
</script>