<div class="site-inner">
        <div class="content-sidebar-wrap">

            <main class="content" id="genesis-content">

                <h2 class="screen-reader-text">{{system['web_name']}}</h2>



                {% if data %}
                {% for i,item in data %}
                <div class="front-page kaay-font-page" tabindex="-1" {% if item['logo'] %} style="margin-top:40px;background-image: url('{{item['logo']}}');"{% endif %} >
                {% if item['logo'] is null %}
                    <div class="solid-section">
                        <div class="flexible-widgets widget-area widget-full">
                            <div class="wrap">
                                <section class="widget featured-content featuredpage">
                                    <div class="widget-wrap">
                                        <h3 class="widgettitle widget-title">{{item['name']}}</h3>
                                        <article class="post-19 page type-page status-publish entry">
                                            <div class="entry-content">
                                                {{item['text']}}
                                                <div class="read-more-container">
                                                    <a class="button" href="{{item['url']}}">{{item['more']}}</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="image-section">
                        <div class="flexible-widgets widget-area widget-full">
                            <div class="wrap">
                                <section class="widget widget_text">
                                    <div class="widget-wrap">
                                        <h3 class="widgettitle widget-title">{{item['name']}}.</h3>
                                        <div class="textwidget">
                                            <p><a class="button" href="{{item['url']}}">{{item['more']}}</a></p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
                {% endfor %}
                {% endif %}


            </main>

        </div>

    </div>
<div>KAAY致力于建筑、景观、规划设计与学术研究，期待您的合作</div>
<p>WECHAT ID                Aaronyee</p>
<p>MOBILE [China]         +15109220793</p>
<p>MOBILE [Australia]    +0401964808</p>
<p>E-MAIL                     kaaystudio@163.com</p>
<p></p>
<p style="text-align: center;"><img src="http://kaaystudio.com/uploads/20190302/20190302135057809.jpg"></p>
