<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <meta name="renderer" content="webkit" />
    <meta name="copyright" content="{{system['copyright']}}"/>
    <meta name="keywords" content="{% if data['keyword']%}{{data['keyword']}}{% else %}{{system['seo_keywords']}}{% endif %}"/>
    <meta name="description" content="{{system['description']}}"/>
    {{ get_title() }}
    {{ stylesheet_link("templates/white/css/all.css") }}
    {{ stylesheet_link("templates/white/css/amazeui.min.css") }}

    {{ stylesheet_link("templates/white/css/style.css") }}

    {{ javascript_include("templates/white/js/jquery.js") }}
    {{ javascript_include("templates/white/js/jquery-migrate.min.js") }}

    <!--[if lt IE 9]>
    {{ javascript_include("templates/white/js/html5shiv.min.js") }}
    <![endif]-->

    <script type='text/javascript'>
        var ModuleName = "/{{ModuleName}}";
        var BASE_URL="/{{ModuleName}}/{{ControllerName}}/";
        var $=jQuery.noConflict();

        $(function () {
            $('#genesis-mobile-nav-primary').click(function () {
                if(!$(this).hasClass('activated')){
                    $(this).addClass('activated')
                }else {
                    $(this).removeClass('activated')
                }
                $('.kaay-nav').toggle();
                $('.kaay-button').toggle();
                $('#genesis-nav-primary').toggle();
            });

            var windowHeight = $( window ).height();
            $( '.image-section' ) .css({'height': windowHeight +'px'});
            $( '.solid-section' ) .css({'height': windowHeight +'px'});

            if( $( document ).scrollTop() > 0 ){
                $( '.site-header' ).addClass( 'dark' );
            }
            $( document ).on('scroll', function(){
                if ( $( document ).scrollTop() > 0 ){
                    $( '.site-header' ).addClass( 'dark' );

                } else {
                    $( '.site-header' ).removeClass( 'dark' );
                }
            });

        });
    </script>
</head>

    {% if ControllerName == 'posts' %}
        {% if category['type'] == 'images' %}
            <body class="archive post-type-archive post-type-archive-works custom-header header-image header-full-width full-width-content works-archive">
        {% else %}
            <body class="page-template-default page custom-header header-image header-full-width full-width-content newsroom">
        {% endif %}
    {% elseif  ControllerName == 'details' %}
        <!--<body class="page-template page-template-page_about page-template-page_about-php custom-header header-image header-full-width full-width-content about">-->
        <body class="post-template-default single single-post single-format-standard custom-header header-image header-full-width full-width-content">
    {% else %}
        <body class="home blog custom-header header-image header-full-width full-width-content front-page featured-section">
    {% endif %}

    {{ content() }}

   {{ partial("layouts/foot") }}
    </body>
</html>