<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="renderer" content="webkit" />
    <meta name="copyright" content="{{system['copyright']}}"/>
    <meta name="keywords" content="{% if data['keyword']%}{{data['keyword']}}{% else %}{{system['seo_keywords']}}{% endif %}"/>
    <meta name="description" content="{{system['description']}}"/>
    {{ get_title() }}
    {{ stylesheet_link("templates/kaay/css/bootstrap.min.css") }}
    {{ stylesheet_link("templates/kaay/css/style.css") }}
    {{ stylesheet_link("templates/kaay/css/share.css") }}


    {{ javascript_include("templates/kaay/js/jquery-2.1.4.min.js") }}
    {{ javascript_include("templates/kaay/js/bootstrap.min.js") }}
    {{ javascript_include("templates/kaay/js/responsiveslides.min.js") }}

    {{ javascript_include("templates/kaay/js/jquery.slides.min.js") }}

    <script type="application/javascript">
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });


            var W = 400;
            if($(window).width() < 767)
                W = 600
            $('#kaay-slides').slidesjs({
//                width: 940,
                height: W,
                navigation: {
                    effect: "fade"
                },
                pagination: {
                    active:false,
                    effect: "fade"
                },
                effect: {
                    fade: {
                        speed: 400
                    }
                },
                play:{
                    active: false,
                    auto: true,
                    interval: 3000,
                    swap: true,
                    effect:"fade"
                }
            });

            var backButton=$('.kaay-span-top');
            function backToTop() {
                $('html,body').animate({scrollTop: 0}, 800);
            }
            backButton.on('click', backToTop);
            $(window).on('scroll', function () {
                if ($(window).scrollTop() > $(window).height()/2)
                    backButton.fadeIn();
                else
                    backButton.fadeOut();
            });
            $(window).trigger('scroll');/*触发滚动事件，避免刷新的时候显示回到顶部按钮*/

//            $('.slider').height($(window).height()/2)
        });

        var ModuleName = "/{{ModuleName}}";
        var BASE_URL="/{{ModuleName}}/{{ControllerName}}/";
    </script>
</head>
    <body>
    
    {{ content() }}

   {{ partial("layouts/foot") }}
    </body>
</html>