
<!-- 表单验证 -->
{{ stylesheet_link("templates/boot/css/bootstrapValidator.min.css") }}
{{ javascript_include("templates/boot/js/jquery.validate.min.js") }}
{{ javascript_include("templates/boot/js/messages_zh.js") }}
 {{ javascript_include("templates/boot/js/form/form-acls.js") }}
        <script>
            $(function(){
                FormAclsValidation.init();
                $.post(BASE_URL+'all?aclsId='+$('#aclsId').val(),function(msg){
                    if(msg==''){
                        $('.message').html('没有找到对应模块的权限资源');
                        return false;
                    }
                    showAcls(msg);
                },'JSON');
            });
        </script>

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-body">

                <form class="form-horizontal" method="POST" action="#" id="form-acls" novalidate>
                    <fieldset>
                        <div class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证失败，请检查.
                        </div>
                        <div class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证成功！
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="role"><span class="required">*</span>角色</label>
                            <div class="controls">
                                <select disabled="disabled">
                                    <option value="">请选择角色</option>
                                    {% for roles in rolesObj %}
                                    <option value="{{roles.code}}_{{roles.name}}" {% if data.role_code == roles.code %}selected{% endif %}>{{roles.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="show"> </div>

                        <div class="form-actions">
                            <button class="btn green" type="submit"><i class="am-icon-check"></i>保存</button>
                            <button class="btn" type="button" onclick="window.location.href=BASE_URL+'list';">取消</button>
                            <input type="hidden" id="actions" value="edit" >
                            <input type="hidden" name="code" value="{{data.code}}" >
                            <input type="hidden" name="id" id="aclsId"value="{{data.id}}" >
                            <span for="digits" class="message alert-error"></span>
                        </div>


                    </fieldset>
                </form>


            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
