{{ get_title() }}

{{ stylesheet_link("templates/white/css/all.css") }}
{{ stylesheet_link("templates/white/css/amazeui.min.css") }}

{{ stylesheet_link("templates/boot/css/bootstrap.min.css") }}
{{ stylesheet_link("templates/boot/css/style.css") }}
{{ stylesheet_link("templates/boot/css/style-responsive.css") }}

{{ javascript_include("templates/boot/js/jquery-1.10.1.min.js") }}


{{ stylesheet_link("templates/boot/css/login.css") }}
{{ stylesheet_link("templates/boot/css/style-metro.css") }}
        <body class="login"><!-- BEGIN LOGO -->
<div class="logo">
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="form-vertical login-form" action="/{{ModuleName}}/login/login" method="post">
        <h3 class="form-title">用您的账户登录</h3>
        <div class="alert alert-error hide">
            <button class="close" data-dismiss="alert"></button>
            <span>请输入用户名与密码.</span>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">用户名</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="am-icon-user"></i>
                    <input class="m-wrap placeholder-no-fix" type="text" placeholder="用户名" name="username"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="am-icon-lock"></i>
                    <input class="m-wrap placeholder-no-fix" type="password" placeholder="密码" name="password"/>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1"/> 记住我
            </label>
            <button type="button" class="btn green pull-right" onclick="submitForm();">
                登录 <i class="am-icon-sign-in"></i>
            </button>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div>
 <div class="copyright">
    2017-2018 &copy; 
</div>

<script type="text/javascript">
    //按下回车键执行登录
    $(function(){
        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {
                submitForm();
            }

        }
    });

    function submitForm() {
        $.post('/{{ModuleName}}/login/login', {
            username: $("input[name='username']").val(),
            password: $("input[name='password']").val()
        }, function (msg) {
            //alert(msg.errorMsg);
            if (msg.errorNo == 00000) {
                setTimeout(function () {
                    location.href = "/{{ModuleName}}/index"
                }, 1000)
            } else {
                alert(msg.errorMsg);
            }
        }, 'JSON');
    }

</script>
        </body>
