{{ stylesheet_link("plugins/upload/css/webuploader.css") }}
{{ javascript_include("plugins/upload/dist/webuploader.js") }}
{{ stylesheet_link("plugins/upload/css/multi-file-upload.css") }}
{{ javascript_include("plugins/upload/file-upload.js") }}


<!-- 表单验证 -->
{{ stylesheet_link("templates/boot/css/bootstrapValidator.min.css") }}
{{ javascript_include("templates/boot/js/jquery.validate.min.js") }}
{{ javascript_include("templates/boot/js/messages_zh.js") }}
{{ javascript_include("templates/boot/js/form/form-category.js") }}
{{ javascript_include("templates/boot/js/cancel.js") }}
 <script>
    $(function(){
        FormCategoryValidation.init();
    });
</script>



<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-body">

                <form class="form-horizontal" method="POST" action="#" id="form-category" novalidate>
                    <fieldset>
                        <div class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证失败，请检查.
                        </div>
                        <div class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            表单验证成功！
                        </div>


                        <div class="control-group">
                            <label for="type" class="control-label">数据模型</label>
                            <div class="controls" >
                                {% for key,name in tagConfig['categoryType'] %}
                                <label class="radio categoryType" data-val="{{key}}">
                                    <div class="radio"><span class=""><input type="radio" value="{{key}}" name="type" {% if key=='posts'%} checked{% endif %}></span></div>
                                    {{name}}
                                </label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label" for="name">栏目名称</label>
                            <div class="controls">
                                <input class="input-xlarge span3 m-wrap" name="name" type="text" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label" for="en_name">英文名称</label>
                            <div class="controls">
                                <input class="input-xlarge span3 m-wrap" name="en_name" type="text" required>
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group url" style="display: none;">
                            <!-- Text input-->
                            <label class="control-label" for="val">链接地址</label>
                            <div class="controls">
                                <input class="input-xlarge span3 m-wrap" name="val" type="text">
                                <p class="help-block"></p>
                            </div>
                        </div>


                        <div class="control-group">
                            <label for="logo" class="control-label">栏目图片</label>
                            <!-- File Upload -->
                            <div class="controls">
                                <div id="wrapper" style="width: 595px;">
                                    <div id="container">
                                        <!--头部，相册选择和格式选择-->
                                        <div id="uploader">
                                            <div class="queueList">
                                                <div id="dndArea">
                                                    <div id="files-uploads"></div>
                                                </div>
                                            </div>
                                            <div class="statusBar" style="display:block;">
                                                <div class="progress">
                                                    <span class="text">0%</span>
                                                    <span class="percentage"></span>
                                                </div>
                                                <div class="info"></div>
                                                <div class="btns">
                                                    <div id="files-uploads-continue"></div><div class="uploadBtn">开始上传</div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="thumb" name="logo">
                                    </div>
                                </div>
                                <span style="color: #b94a48;" >附件格式【jpg,jpeg,png,gif】</span>
                            </div>
                        </div>


                        <div class="control-group">
                            <!-- Textarea -->
                            <label for="text" class="control-label">栏目简介</label>
                            <div class="controls">
                                <div class="text">
                                    <textarea class="span5 m-wrap" rows="4" name="text"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Textarea -->
                            <label for="en_text" class="control-label">英文简介</label>
                            <div class="controls">
                                <div class="text">
                                    <textarea class="span5 m-wrap" rows="4" name="en_text"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label" for="more">链接文字</label>
                            <div class="controls">
                                <input class="input-xlarge span3 m-wrap" name="more" type="text" value="更多">
                                <p class="help-block"></p>
                            </div>
                        </div>


                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label" for="listorder">排序</label>
                            <div class="controls">
                                <input class="input-xlarge span3 m-wrap" name="listorder" type="text" value="0">
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="status">是否显示导航</label>
                            <div class="controls">
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="0" name="isnav" checked="checked"></span></div>
                                    否
                                </label>
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="1" name="isnav"></span></div>
                                    是
                                </label>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="status">状态</label>
                            <div class="controls">
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="0" name="status"></span></div>
                                    禁用
                                </label>
                                <label class="radio">
                                    <div class="radio"><span class=""><input type="radio" value="1" name="status" checked="checked"></span></div>
                                    启用
                                </label>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button class="btn green" type="submit"><i class="icon-ok"></i> 保存</button>
                            <button class="btn" type="button" onclick="mycancel()">取消</button>
                            <input type="hidden" id="actions" value="add" >
                            <span for="digits" class="message alert-error"></span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
