<div class="span5">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box light-grey">
        <div class="portlet-body">
            <div class="clearfix">

                <div class="btn-group">
                    <button  class="btn green"> 数据统计 </button>
                </div>

            </div>
            <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <td>最高点击</td>
                    <td><a target="_blank" title="{{posts['hits'].name}}" href="/web/posts/code={{posts['hits'].code}}">{{posts['hits'].hits}}</a></td>
                </tr>
                <tr>
                    <td>点击总量</td>
                    <td>{{posts['sum']}}</td>
                </tr>
                <tr>
                    <td>文章数量</td>
                    <td>{{posts['count']}}</td>
                </tr>
                <tr>
                    <td>栏目数量</td>
                    <td>{{posts['category']}}</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
