{{partial("layouts/header")}}

{% if data %}
<div class="friend-agent agileits-1">
    <div class="container">
        <div class="friend-grids">
            {% for posts in data %}
            <div class="col-md-3 friend-grid">
                <a href="/{{ModuleName}}/details/index?id={{posts['id']}}">
                    <img src="{{posts['thumb']}}" alt="{{posts['name']}}" class="img-responsive" >
                </a>
                <h4>{{posts['name']}}</h4>
                <p>{{posts['digest']}}</p>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endif %}

<!-- w3l-1 -->
<div class="w3l-1">
    <div class="container">
        <h3 class="text-center">公众号</h3>
        <div class="container " style="text-align: center;">
            <img src="templates/kaay/images/wechat.png" style=" width: 50%; text-align: center;">
        </div>

    </div>
</div>
<!--/ w3l-1 -->